// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Fontawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';

//select2
@import '~select2/dist/css/select2.min.css';

@media (max-width: 315px) {

  .follow_button,
  .action_follow {
    font-size: 10px;
  }

  .unfollow_button {
    font-size: 9px;
  }

}

@media (max-width: 351px) {
  
  //投稿カードのユーザーネーム欄
  .card-header {
    font-size: 4vw;
  }

}

@media (max-width: 345px) {

  #post_image_preview, 
  #edit_post_image_preview {
    max-height: 240px;
  }

  //ユーザー一覧、フォロー一覧、フォロワー一覧、いいねユーザー一覧のユーザーネーム
  .user_name,
  .like_user_name {
    font-size: 4vw;
  }

}

@media (min-width: 345px) and (max-width: 576px) {

  #post_image_preview,
  #edit_post_image_preview {
    max-height: 340px;
  }

}


//xsサイズ
@media (max-width: 576px) {

  .user_show_avatar {
    width: 150px;
    height: 150px;
  }

  //コメント一覧のコメント表示
  .authenticated_user_comment p,
  .user_comment p {
    max-width: 480px;
  }

}

//~sm:maxサイズ
@media (max-width: 767.98px) {

  //ユーザー一覧、フォロー一覧、フォロワー一覧のユーザーアイコン
	.user_avatar_icon {
		width: 120px;
		height: 120px;
		border-radius: 50%;
	}

}

//smサイズ
@media (min-width: 576px) and (max-width: 767.98px) {

  .user_show_avatar {
    width: 170px;
    height: 170px;
  }

  #post_image_preview,
  #edit_post_image_preview {
    max-height: 340px;
  }

  .post_image_supplement {
    font-size: 15px;
  }

  //ユーザー一覧、フォロー一覧、フォロワー一覧、いいねユーザー一覧のユーザーネーム
  .user_name,
  .like_user_name {
    font-size: 77%;
  }

  //コメント一覧のコメント表示
  .authenticated_user_comment p,
  .user_comment p {
    max-width: 450px;
  }

}

//mdサイズ
@media (min-width: 768px) and (max-width: 991.98px) {

  //ユーザー一覧、フォロー一覧、フォロワー一覧、いいねユーザー一覧のユーザーアイコン
	.user_avatar_icon {
		width: 160px;
		height: 160px;
		border-radius: 50%;
	}

	.user_show_avatar {
	  width: 200px;
	  height: 200px;
	}

	#post_image_preview,
	#edit_post_image_preview {
	  max-height: 400px;
	}

  //ヘッダーナビのユーザーネーム
  .nav_user_name {
    font-size : 53%;
  }

  //コメント一覧のコメント表示
  .authenticated_user_comment p,
  .user_comment p {
    max-width: 462px;
  }

}

//~md:maxサイズ
@media (max-width: 991.98px) {

  #avatar_preview {
    width: 200px;
    height: 200px;
  }

}

//~lg:minサイズ
@media (min-width: 992px) {

  #post_image_preview,
  #edit_post_image_preview {
    max-width:530px;
    max-height:430px;
  }

}

//lgサイズ
@media (min-width: 992px) and (max-width: 1199.98px) {

  //コメント一覧のコメント表示
  .authenticated_user_comment p,
  .user_comment p {
    max-width: 402px;
  }
}

//lg~サイズ
@media (min-width: 1200px) {

  //投稿詳細いいねユーザー一覧のユーザーネーム
  .like_user_name {
    //font-size: 77%;
  }

  //コメント一覧のコメント表示
  .authenticated_user_comment p,
  .user_comment p {
    max-width: 420px;
  }

}

//ナビゲーション上のアプリロゴ
.logo {
    width: 150px;
    height: 37.5px;
}

//ゲストトップページのカルーセル
.animalsCarousel {
  display: block;
  width: 100%;
  height: 50vw;
  max-height: 460px;
  border-radius: 7px;
}

.btn-outline-success {
  color: #7ed957;
  border-color: #7ed957;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #7ed957;
  border-color: #7ed957;
}

.btn-success {
  color: #fff;
  background-color: #7ed957;
  border-color: #7ed957;
}

.btn-success:hover {
  color: #fff;
  background-color: #2fa360;
  border-color: #2d995b;
}

.btn-outline-info:hover {
  color: #fff;
  background-color: #6cb2eb;
  border-color: #6cb2eb;
}

//新規投稿（no-image画像）
.default_post_image {
  cursor: pointer;
  border-radius: 5px;
}

//新規投稿、投稿編集
.post_image_edit {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #FFFFFF;
  padding: 7px;
  cursor: pointer;
  border-radius: 5px;
}


.post_image_supplement {
  color: #808080;
}

//投稿の本文
.post_content {
  overflow: hidden;
  
}

.card {
  border: 1px solid rgba(255, 255, 255,);
}

.card-header {
  padding: 0.50rem;
  background-color: #FFFFFF;
  border-bottom: none;
}

.card-body {
  padding: 0.50rem;
}

.card-footer {
  padding: 0.50rem;
  background-color: #FFFFFF;
  border-top: none;
}

//投稿一覧のコンテンツを一定の幅以上は隠す
.post_content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

//投稿カードの画像
.post_image_card {
  width: 100%;
  max-height: 640px;
}

//ホバー時フォロー中ボタンの色変更
.follow_button:hover {
  background-color: #d0211c;
  border-color: #c51f1a;
}

//ホバー時のアンフォローボタン文字(通常は非表示)
button .unfollow_button {
  display: none;
}

//ホバー時は通常フォロー中のボタン文字を非表示
button:hover .follow_now_button {
  display: none;
}

//ホバー時のアンフォローボタン文字の表示
button:hover .unfollow_button {
  display: inline;
}

//平常時のいいね中ボタンのスタイル
.like_now_button, .like_button {
  color: #FF0461;
  background-color:#fffff;
  padding: 0;
  margin: 0;
  width: 2.1rem;
  height: 2.1rem;
  line-height: 2.1rem;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
}

//平常時のいいねボタンのスタイル
.like_button {
  color: #BBBBBB;
  background-color:#fffff;
  padding: 0;
  margin: 0;
  width: 2.1rem;
  height: 2.1rem;
  line-height: 2.1rem;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
}

//カーソルが乗った時のいいね、いいね中ボタンのスタイル
.like_now_button:hover, .like_button:hover {
  background-color: #FFD5EC;
  color: #FF0461;
}

//フォーカス時のアウトライン消去
.btn:focus {
  outline: none;
  box-shadow:none;
}

//ヘッダーナビゲーション
.header_navbar {
  width: 100vw;
  max-width: 1700px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

//コメント入力エリアの周りの囲い
.new_comment_box {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #e8e8e8;
    border-radius: 8px;
}

//コメント入力エリアのタイトル
.new_comment_title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 18px;
    background: #FFF;
    color: #6c757d;
    font-weight: bold;
}

//コメント一覧見出し
.comment_heading {
  border-bottom: 4px double #e8e8e8;
  text-align: center;
  margin: 10px 0 0 0;
  padding: 0 0 5px 0;
  font-weight: bold;
  color: #6c757d;
  font-size: 17px;
}

textarea {
  resize: none;
}

//コメント一覧エリア背景色など
.comment_area {
  padding: 20px 10px;
  max-width: 100%;
  margin: 0 auto;
  text-align: right;
  font-size: 14px;
  background-color: #FFFFFF;
}

//左側(認証ユーザー以外)のコメント
.user_comment {
  margin: 7px 0;
}
.user_comment p:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: -12px; 
  left: -3px;
  border: 8px solid transparent;
  border-right: 18px solid #edf1ee;
  -webkit-transform: rotate(55deg);
  transform: rotate(55deg);
}
.user_comment p {
  display: inline-block;
  position: relative; 
  margin: 0 0 0 20px;
  padding: 8px;
  //max-width: 505px;
  border-radius: 12px;
  background: #edf1ee;
  font-size: 1rem;
  text-align: left;
}

//右側(認証ユーザー)の緑コメント
.authenticated_user_comment {
  margin: 0 0;
}
.authenticated_user_comment p:after {
  content: "";
  position: absolute;
  top: -12px; 
  right: -3px;
  border: 8px solid transparent;
  border-left: 18px solid #7ed957;
  -webkit-transform: rotate(-55deg);
  transform: rotate(-55deg);
}
.authenticated_user_comment p {
  display: inline-block;
  position: relative; 
  margin: 0 20px 0 0;
  padding: 8px;
  //max-width: 505px;
  border-radius: 12px;
  background: #7ed957;
  font-size: 1rem;
  text-align: left;
}

//カテゴリーのフォントサイズ
.p_category {
  font-size: 13px;
}

//ハッシュアイコンのフォントサイズ
.p_hash {
  font-size: 10px;
}